In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVR
lab = LabelEncoder()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor, StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, root_mean_squared_error

import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv("/content/drive/MyDrive/datasets/car_price_prediction.csv")

In [3]:
data.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [4]:
data.drop_duplicates(inplace=True)
data = data.drop(["ID", "Doors", "Color"], axis=1)

In [5]:
data.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Wheel,Airbags
0,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,Left wheel,12
1,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,Left wheel,8
2,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,Right-hand drive,2
3,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,Left wheel,0
4,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,Left wheel,4

In [6]:
# Levy preprocessing
data['Levy'] = data['Levy'].replace('-', np.nan).astype(float)

# Age calculation
current_date = dt.datetime.now()
data["Age"] = current_date.year - data["Prod. year"]
data = data.drop("Prod. year", axis=1)

In [7]:
# Data type conversions
data['Cylinders'] = pd.to_numeric(data['Cylinders'], errors='coerce')
data["Mileage"] = data["Mileage"].str.replace("km", "").pipe(pd.to_numeric, errors='coerce')
data["Engine volume"] = data["Engine volume"].str.replace("Turbo", "").pipe(pd.to_numeric, errors='coerce')

data.head()

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Wheel,Airbags,Age
0,13328,1399.0,LEXUS,RX 450,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,Left wheel,12,15
1,16621,1018.0,CHEVROLET,Equinox,Jeep,No,Petrol,3.0,192000,6.0,Tiptronic,4x4,Left wheel,8,14
2,8467,NaN,HONDA,FIT,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,Right-hand drive,2,19
3,3607,862.0,FORD,Escape,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,Left wheel,0,14
4,11726,446.0,HONDA,FIT,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,Left wheel,4,11

In [8]:
# Outlier Treatment
numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    q1 = data[col].quantile(0.25)
    q3 = data[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    data[col] = np.where(data[col] > upper_bound, upper_bound, data[col])
    data[col] = np.where(data[col] < lower_bound, lower_bound, data[col])

In [9]:
data.head()

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Wheel,Airbags,Age
0,13328.0,1399.0,LEXUS,RX 450,Jeep,Yes,Hybrid,3.5,186005.0,4.0,Automatic,4x4,Left wheel,12.0,15.0
1,16621.0,1018.0,CHEVROLET,Equinox,Jeep,No,Petrol,3.0,192000.0,4.0,Tiptronic,4x4,Left wheel,8.0,14.0
2,8467.0,NaN,HONDA,FIT,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,Right-hand drive,2.0,19.0
3,3607.0,862.0,FORD,Escape,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,Left wheel,0.0,14.0
4,11726.0,446.0,HONDA,FIT,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,Left wheel,4.0,11.0

In [10]:
data.isna().sum()

Price                  0
Levy                5709
Manufacturer           0
Model                  0
Category               0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Wheel                  0
Airbags                0
Age                    0
dtype: int64

In [11]:
data['Levy'].fillna(data['Levy'].mean(), inplace=True)
data.isna().sum()

Price               0
Levy                0
Manufacturer        0
Model               0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Wheel               0
Airbags             0
Age                 0
dtype: int64

In [12]:
data.head()

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Wheel,Airbags,Age
0,13328.0,1399.000000,LEXUS,RX 450,Jeep,Yes,Hybrid,3.5,186005.0,4.0,Automatic,4x4,Left wheel,12.0,15.0
1,16621.0,1018.000000,CHEVROLET,Equinox,Jeep,No,Petrol,3.0,192000.0,4.0,Tiptronic,4x4,Left wheel,8.0,14.0
2,8467.0,880.742944,HONDA,FIT,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,Right-hand drive,2.0,19.0
3,3607.0,862.000000,FORD,Escape,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,Left wheel,0.0,14.0
4,11726.0,446.000000,HONDA,FIT,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,Left wheel,4.0,11.0

In [ ]:
# Interaction Features
# data['Price_per_KM'] = data['Price'] / (data['Mileage'] + 1)
# data['Engine_per_Cylinder'] = data['Engine volume'] / data['Cylinders']
# data['Age*Mileage'] = data['Age'] * data['Mileage']

# data.head()

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Wheel,Airbags,Age,Price_per_KM,Engine_per_Cylinder,Age*Mileage
0,13328.0,1399.000000,LEXUS,RX 450,Jeep,Yes,Hybrid,3.5,186005.0,4.0,Automatic,4x4,Left wheel,12.0,15.0,0.071654,0.875,2790075.0
1,16621.0,1018.000000,CHEVROLET,Equinox,Jeep,No,Petrol,3.0,192000.0,4.0,Tiptronic,4x4,Left wheel,8.0,14.0,0.086567,0.750,2688000.0
2,8467.0,880.742944,HONDA,FIT,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,Right-hand drive,2.0,19.0,0.042335,0.325,3800000.0
3,3607.0,862.000000,FORD,Escape,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,Left wheel,0.0,14.0,0.021347,0.625,2365524.0
4,11726.0,446.000000,HONDA,FIT,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,Left wheel,4.0,11.0,0.127592,0.325,1010911.0

In [13]:
# Categorical Encoding
categorical_cols = ['Manufacturer', 'Category', 'Fuel type', 'Gear box type',
                    'Model', 'Leather interior', 'Wheel', 'Drive wheels']

data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

data.head()

,Price,Levy,Engine volume,Mileage,Cylinders,Airbags,Age,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,Manufacturer_AUDI,...,Model_iA isti,Model_kona,Model_macan,Model_macan S,Model_tC,Model_xD,Leather interior_Yes,Wheel_Right-hand drive,Drive wheels_Front,Drive wheels_Rear
0,13328.0,1399.000000,3.5,186005.0,4.0,12.0,15.0,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,16621.0,1018.000000,3.0,192000.0,4.0,8.0,14.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,8467.0,880.742944,1.3,200000.0,4.0,2.0,19.0,False,False,False,...,False,False,False,False,False,False,False,True,True,False
3,3607.0,862.000000,2.5,168966.0,4.0,0.0,14.0,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,11726.0,446.000000,1.3,91901.0,4.0,4.0,11.0,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [14]:
data.shape

(18924, 1683)

In [15]:
data.isna().sum()

Price                     0
Levy                      0
Engine volume             0
Mileage                   0
Cylinders                 0
                         ..
Model_xD                  0
Leather interior_Yes      0
Wheel_Right-hand drive    0
Drive wheels_Front        0
Drive wheels_Rear         0
Length: 1683, dtype: int64

In [16]:
# Prepare features and target
X = data.drop(columns=['Price'])
y = data['Price']

# Split data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

x_train_scaled.shape, x_test_scaled.shape, y_train.shape, y_test.shape

((15139, 1682), (3785, 1682), (15139,), (3785,))

In [17]:
y_train.isna().sum()
X.isna().sum()

Levy                      0
Engine volume             0
Mileage                   0
Cylinders                 0
Airbags                   0
                         ..
Model_xD                  0
Leather interior_Yes      0
Wheel_Right-hand drive    0
Drive wheels_Front        0
Drive wheels_Rear         0
Length: 1682, dtype: int64

In [20]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from sklearn.preprocessing import StandardScaler
import numpy as np

# Build the neural network model
model = Sequential([
    Dense(1024, activation='relu', input_shape=(x_train.shape[1],)),  # First hidden layer
    BatchNormalization(),  # Normalize activations for stability
    Dropout(0.3),  # Prevent overfitting

    Dense(512, activation='relu'),  # Second hidden layer
    BatchNormalization(),
    Dropout(0.3),

    Dense(256, activation='relu'),  # Third hidden layer
    BatchNormalization(),
    Dropout(0.3),

    Dense(128, activation='relu'),  # Fourth hidden layer

    Dense(1)  # Output layer (for regression)
])

# Compile the model
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

# Train the model
model.fit(x_train_scaled, y_train, epochs=50, batch_size=32, validation_data=(x_test_scaled, y_test))

# Predict on new data
y_pred_nn = model.predict(x_test_scaled)

# Evaluate
mse_nn = np.mean((y_test - y_pred_nn.squeeze())**2)
print("Neural Network MSE:", mse_nn)

Epoch 1/50
474/474  33s 56ms/step - loss: 400628704.0000 - mae: 15147.6484 - val_loss: 157687856.0000 - val_mae: 9070.8174
Epoch 2/50
474/474  42s 58ms/step - loss: 127410648.0000 - mae: 8267.5000 - val_loss: 100458464.0000 - val_mae: 7031.4341
Epoch 3/50
474/474  33s 42ms/step - loss: 89531416.0000 - mae: 6964.5864 - val_loss: 92102080.0000 - val_mae: 6675.7739
Epoch 4/50
474/474  21s 43ms/step - loss: 84533784.0000 - mae: 6673.0327 - val_loss: 92267288.0000 - val_mae: 6574.7407
Epoch 5/50
474/474  41s 43ms/step - loss: 77563888.0000 - mae: 6398.7739 - val_loss: 84835712.0000 - val_mae: 6326.7417
Epoch 6/50
474/474  29s 61ms/step - loss: 71462432.0000 - mae: 6122.4204 - val_loss: 86324632.0000 - val_mae: 6427.1729
Epoch 7/50
474/474  33s 45ms/step - loss: 70587784.0000 - mae: 6033.0078 - val_loss: 81650240.0000 - val_mae: 6251.3540
Epoch 8/50
474/474  22s 46ms/step - loss: 66051740.0000 - mae: 5836.1597 - val_loss: 78463904.0000 - val_mae: 6113.2383
Epoch 9/50
474/474  41s 47ms/step - loss: 65113092.0000 - mae: 5780.9312 - val_loss: 77018280.0000 - val_mae: 5959.4858
Epoch 10/50
474/474  41s 46ms/step - loss: 60718828.0000 - mae: 5530.9951 - val_loss: 75454528.0000 - val_mae: 5929.8828
Epoch 11/50
474/474  43s 50ms/step - loss: 60803664.0000 - mae: 5483.9072 - val_loss: 73421568.0000 - val_mae: 5866.7637
Epoch 12/50
474/474  20s 41ms/step - loss: 59607264.0000 - mae: 5400.7646 - val_loss: 75153120.0000 - val_mae: 5922.9556
Epoch 13/50
474/474  21s 44ms/step - loss: 57863088.0000 - mae: 5300.9199 - val_loss: 71392648.0000 - val_mae: 5714.6514
Epoch 14/50
474/474  42s 45ms/step - loss: 58043152.0000 - mae: 5343.2285 - val_loss: 72935640.0000 - val_mae: 5819.2246
Epoch 15/50
474/474  41s 45ms/step - loss: 58738592.0000 - mae: 5335.6758 - val_loss: 70975176.0000 - val_mae: 5722.1553
Epoch 16/50
474/474  40s 43ms/step - loss: 54503580.0000 - mae: 5137.7163 - val_loss: 70702656.0000 - val_mae: 5804.6475
Epoch 17/50
474/474  21s 43ms/step - loss: 53902996.0000 - mae: 5096.6904 - val_loss: 69491280.0000 - val_mae: 5733.2266
Epoch 18/50
474/474  20s 42ms/step - loss: 52445636.0000 - mae: 5042.3477 - val_loss: 68131880.0000 - val_mae: 5569.0542
Epoch 19/50
474/474  22s 45ms/step - loss: 54057000.0000 - mae: 5127.7720 - val_loss: 71860128.0000 - val_mae: 5871.6372
Epoch 20/50
474/474  42s 49ms/step - loss: 51845040.0000 - mae: 4983.6870 - val_loss: 69138024.0000 - val_mae: 5611.0098
Epoch 21/50
474/474  21s 45ms/step - loss: 52665864.0000 - mae: 5042.2432 - val_loss: 69223832.0000 - val_mae: 5674.4272
Epoch 22/50
474/474  40s 43ms/step - loss: 51404100.0000 - mae: 4953.5137 - val_loss: 67310312.0000 - val_mae: 5567.1421
Epoch 23/50
474/474  22s 46ms/step - loss: 50059812.0000 - mae: 4912.4858 - val_loss: 68298040.0000 - val_mae: 5597.0879
Epoch 24/50
474/474  40s 44ms/step - loss: 50836840.0000 - mae: 4907.4941 - val_loss: 68719784.0000 - val_mae: 5611.1450
Epoch 25/50
474/474  41s 44ms/step - loss: 48699668.0000 - mae: 4815.3105 - val_loss: 68608632.0000 - val_mae: 5601.6348
Epoch 26/50
474/474  20s 42ms/step - loss: 48572760.0000 - mae: 4823.6006 - val_loss: 66652524.0000 - val_mae: 5493.2290
Epoch 27/50
474/474  20s 42ms/step - loss: 47483792.0000 - mae: 4770.6904 - val_loss: 66540396.0000 - val_mae: 5543.5254
Epoch 28/50
474/474  20s 43ms/step - loss: 47763588.0000 - mae: 4749.2163 - val_loss: 66388372.0000 - val_mae: 5544.1553
Epoch 29/50
474/474  20s 41ms/step - loss: 48071096.0000 - mae: 4777.2495 - val_loss: 64048316.0000 - val_mae: 5421.0791
Epoch 30/50
474/474  23s 46ms/step - loss: 48757896.0000 - mae: 4791.1133 - val_loss: 64874156.0000 - val_mae: 5436.6035
Epoch 31/50
474/474  41s 47ms/step - loss: 47719320.0000 - mae: 4709.3838 - val_loss: 64953200.0000 - val_mae: 5414.1230
Epoch 32/50
474/474  39s 42ms/step - loss: 45562172.0000 - mae: 4636.2817 - val_loss: 66414456.0000 - val_mae: 5476.8311
Epoch 33/50
474/474  20s 42ms/step - loss: 46704856.0000 - mae: 4707.0063 - val_loss: 67764000.0000 - val_mae: 5608.4756
Epoch 34/50
474/474  19s 41ms/step - loss: 44767008.0000 - mae: 4553.7026 - val_loss: 66653128.0000 - val_mae: 5385.4321
Epoch 35/50
474/474  21s 44ms/step - loss: 44889100.0000 - mae: 4596.5913 - val_loss: 65732816.0000 - val_mae: 5463.0688
Epoch 36/50
474/474  42s 46ms/step - loss: 43608800.0000 - mae: 4545.4380 - val_loss: 64498588.0000 - val_mae: 5315.9629
Epoch 37/50
474/474  20s 41ms/step - loss: 44875336.0000 - mae: 4593.6587 - val_loss: 66239508.0000 - val_mae: 5536.4180
Epoch 38/50
474/474  22s 45ms/step - loss: 44790168.0000 - mae: 4540.2173 - val_loss: 65387052.0000 - val_mae: 5498.2002
Epoch 39/50
474/474  41s 46ms/step - loss: 45729560.0000 - mae: 4590.8462 - val_loss: 64757996.0000 - val_mae: 5481.0200
Epoch 40/50
474/474  41s 46ms/step - loss: 43626576.0000 - mae: 4504.7495 - val_loss: 65383740.0000 - val_mae: 5351.9888
Epoch 41/50
474/474  20s 41ms/step - loss: 44034348.0000 - mae: 4483.9692 - val_loss: 65158860.0000 - val_mae: 5487.7056
Epoch 42/50
474/474  20s 42ms/step - loss: 42110108.0000 - mae: 4455.0913 - val_loss: 64652332.0000 - val_mae: 5468.2856
Epoch 43/50
474/474  21s 42ms/step - loss: 43255188.0000 - mae: 4478.2539 - val_loss: 65275144.0000 - val_mae: 5480.4048
Epoch 44/50
474/474  20s 42ms/step - loss: 42377820.0000 - mae: 4436.3843 - val_loss: 64253960.0000 - val_mae: 5367.0508
Epoch 45/50
474/474  22s 46ms/step - loss: 41500424.0000 - mae: 4387.4692 - val_loss: 65174652.0000 - val_mae: 5421.2090
Epoch 46/50
474/474  42s 47ms/step - loss: 40251864.0000 - mae: 4352.2739 - val_loss: 66225900.0000 - val_mae: 5552.6846
Epoch 47/50
474/474  21s 45ms/step - loss: 41025136.0000 - mae: 4422.2573 - val_loss: 64106368.0000 - val_mae: 5401.6836
Epoch 48/50
474/474  21s 44ms/step - loss: 38613288.0000 - mae: 4270.1421 - val_loss: 64344268.0000 - val_mae: 5422.6460
Epoch 49/50
474/474  42s 45ms/step - loss: 38785360.0000 - mae: 4253.6045 - val_loss: 66230760.0000 - val_mae: 5535.6362
Epoch 50/50
474/474  21s 44ms/step - loss: 41736632.0000 - mae: 4364.7827 - val_loss: 66219916.0000 - val_mae: 5434.0713
119/119  1s 8ms/step
Neural Network MSE: 66219901.705863714

In [21]:
mae = mean_absolute_error(y_test, y_pred_nn)
mse = mean_squared_error(y_test, y_pred_nn)
r2 = r2_score(y_test, y_pred_nn)
rmse = root_mean_squared_error(y_test, y_pred_nn)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R): {r2}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

Mean Absolute Error (MAE): 5434.071219351805
Mean Squared Error (MSE): 66219901.705863714
R-squared (R): 0.635721883789536
Root Mean Squared Error (RMSE): 8137.561164492941

In [22]:
import numpy as np
import pandas as pd

# Sample Car Data
car_data = pd.DataFrame([{
    "Levy": 1018,
    "Manufacturer": "CHEVROLET",
    "Model": "Equinox",
    "Age": 2025 - 2011,  # Calculate Age
    "Category": "Jeep",
    "Leather interior": "No",
    "Fuel type": "Petrol",
    "Engine volume": 3.0,
    "Mileage": 192000,  # Remove 'km'
    "Cylinders": 6.0,
    "Gear box type": "Tiptronic",
    "Drive wheels": "4x4",
    "Wheel": "Left wheel",
    "Airbags": 8
}])

# 1 Perform One-Hot Encoding (Match Training Data)
car_data = pd.get_dummies(car_data, columns=categorical_cols, drop_first=True)

# 2 Ensure Feature Alignment with Training Data
missing_cols = set(X.columns) - set(car_data.columns)
for col in missing_cols:
    car_data[col] = 0  # Add missing columns as 0

car_data = car_data[X.columns]  # Ensure column order matches training data

# 3 Standardize the Features Using the Same Scaler
car_data_scaled = scaler.transform(car_data)

# 4 Make the Prediction
predicted_price = model.predict(car_data_scaled)

print(f"Predicted Car Price: ${predicted_price[0][0]:.2f}")

1/1  0s 48ms/step
Predicted Car Price: $18775.94