In [6]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

Matplotlib is building the font cache; this may take a moment.

## reading the data from dataset

In [7]:
data = pd.read_csv("car_price_prediction.csv")

In [9]:
data.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [12]:
print(data.shape)

data.info()

(19237, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

## data cleaning and exploring process

In [15]:
# checking for duplicate values and removing them

data.duplicated().sum()

np.int64(313)

In [16]:
# since duplicate values are present, we will remove them

data.drop_duplicates(inplace= True)

In [17]:
# checking for missing values

data.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

No missing values are present.

In [18]:
# checking the statistics of the data

data.describe()

                 ID         Price    Prod. year     Cylinders       Airbags
count  1.892400e+04  1.892400e+04  18924.000000  18924.000000  18924.000000
mean   4.557538e+07  1.858744e+04   2010.914236      4.580216      6.568379
std    9.375468e+05  1.921356e+05      5.665749      1.200223      4.322323
min    2.074688e+07  1.000000e+00   1939.000000      1.000000      0.000000
25%    4.569501e+07  5.331000e+03   2009.000000      4.000000      4.000000
50%    4.577191e+07  1.317200e+04   2012.000000      4.000000      6.000000
75%    4.580174e+07  2.206300e+04   2015.000000      4.000000     12.000000
max    4.581665e+07  2.630750e+07   2020.000000     16.000000     16.000000

In [ ]:
# analysing the target variable

print(data['ID'])

print(data['Price'])

0        45654403
1        44731507
2        45774419
3        45769185
4        45809263
           ...
19232    45798355
19233    45778856
19234    45804997
19235    45793526
19236    45813273
Name: ID, Length: 18924, dtype: int64